#!/usr/bin/env bash

alias vim=nvim

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ls=' exa --group-directories-first'
alias l='ls -1'
alias ll='ls -l'
alias la='ls -al'

# shortcuts
alias c='clear'
alias r='reset'
alias o="open"

alias cd..="cd .."
alias ..='cd ..'
alias ...='cd ../..'

alias tf=terraform
alias tf='terraform'
alias tfplan='terraform plan -lock=false'

alias makepassword="pwgen -y -n 18 1"
alias pp="ps axuf | pager"

alias vimrc="vim ~/.config/nvim/init.lua"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# find . -name .gitattributes | args dirname
alias args="xargs -n1"

alias lanip="ipconfig getifaddr en0"

function publicip() {
    dig +short txt ch whoami.cloudflare @1.0.0.1 | awk -F'"' '{ print $2}'
}

function publicip6() {
    dig -6 TXT +short o-o.myaddr.l.google.com @ns1.google.com | awk -F'"' '{ print $2}'
}

function digall() {
    dig +nocmd any +multiline +noall +answer "$1"
}

function urlencode() {
    python -c '
import sys
import urllib.parse
print(urllib.parse.quote(sys.argv[1], safe=""))
' "${*}"
}

function base64encode() {
    python -c '
import base64
import sys
print(base64.b64encode(sys.argv[1].encode("utf8")).decode())
' "${*}"
}

function todo() {
    grep -EI '\s+(TODO|LATER|FIXME):?' \
      -r -n \
      --exclude-dir={node_modules,.git,lib,.venv,.cache,".cache_*"} \
      --exclude={"*bundle.js","*.map","*.min.js","*.csv",TODO.md,todos.txt} \
      .
}

function docker-stop-all { docker ps && docker stop $(docker ps -q); }

function truecolor() {
    awk 'BEGIN{
            s="/\\/\\/\\/\\/\\"; s=s s s s s s s s;
            for (colnum = 0; colnum<77; colnum++) {
                r = 255-(colnum*255/76);
                g = (colnum*510/76);
                b = (colnum*255/76);
                if (g>255) g = 510-g;
                printf "\033[48;2;%d;%d;%dm", r,g,b;
                printf "\033[38;2;%d;%d;%dm", 255-r,255-g,255-b;
                printf "%s\033[0m", substr(s,colnum+1,1);
            }
            printf "\n";
        }'
}

function emojis() {
    echo "♥👍😍🙊🥱🥺✨✅🎊🏄"
}

function keeptrying() {
    while ! $($*)
    do
        echo "Try again"
    done
}
