[user]
    email = mariocesar.c50@gmail.com
    name = Mario César
    signingkey = FBF5320F

[core]
	editor = nvim
    autocrlf = input
    quotepath = false
    excludesfile = /Users/mariocesar/.gitignore

[alias]
    ci = commit
    co = checkout
    st = status
    branches = branch -a
    search = "!f() { git grep \"$1\" $(git rev-list --all); } && f"

[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[merge]
    summary = true
    ff = no
    commit = no

[pull]
    default = matching
    rebase = true

[push]
    default = current

[credential]
    helper = store

[mergetool]
    prompt = false

[diff]
    tool = meld
    renameLimit = 4020

[oh-my-zsh]
    hide-dirty = 1
    hide-status = 1

