[user]
	email = mariocesar.c50@gmail.com
	name = Mario César Señoranis Ayala
    signingkey = FBF5320F

[core]
    editor = vim
    autocrlf = input
    quotepath = false
	excludesfile = /Users/mariocesar/.gitignore
    pager =

[alias]
    ci = commit
    co = checkout
    st = status
    serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git --enable=receive-pack
    branches = branch -a

    ; Refuse to merge and exit with a non-zero status
    ; unless the current HEAD is already up-to-date
    ; or the merge can be resolved as a fast-forward.
    pull = pull --ff-only --rebase
    update = merge --ff-only
    join = merge --no-ff

    ; Mercurial flavor
    addremove = !git add --all . && git add -u

    graph = log --oneline --graph
    diff2 = !git difftool -d

    serve-start = instaweb --start
    serve-stop = instaweb --stop

[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[merge]
    summary = true
	conflictstyle = diff3
    strategy-option = patience
	tool = meld

[push]
    default = current

[credential]
	helper = store

[mergetool]
	prompt = false

[gui]
	editor = gvim

[diff]
	tool = meld

[instaweb]
    httpd=webrick
    port=1234
    browser=open 

[oh-my-zsh]
	hide-dirty = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/mariocesar/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
