# Make sure the system settings for input are used to
$include /etc/inputrc

set colored-stats on
set visible-stats on

set completion-ignore-case off
set completion-prefix-display-length 3

set show-all-if-unmodified on
set show-all-if-ambiguous on

set completion-prefix-display-length 3
set menu-complete-display-prefix on

set bell-style none

TAB: menu-complete

"\e[A": history-search-backward
"\e[B": history-search-forward

