[Desktop Entry]
Type=Application
Name=Notes
Keywords=notes;reminder;
GenericName=Note-taker
Comment[es]=Guarde notas
Icon=/home/mariocesar/.bin/notes.svg
Exec=/home/mariocesar/.bin/notes.py
TryExec=/home/mariocesar/.bin/notes.py
MimeType=x-scheme-handler/note;
Categories=GNOME;GTK;Utility;
Terminal=false
StartupNotify=true
